<%=link_to 'AdminTOP' , admin_path %>  

<h1>Battle TOP</h1>

  <%= link_to "panelists" ,admin_battle_panelists_path(params[:id])  %><br>
  <%= link_to "rounds" ,admin_battle_rounds_path(params[:id])  %>
